version: '3.4'

services:
  dev:
      container_name: trialnerror_api_dev
      image: trialnerror-server-dev:1.0.0
      build:
          context: .
          target: development
          dockerfile: ./Dockerfile
      command: npm run start:debug
      ports:
          - 3000:3000
          - 9229:9229
          command: ["node", "--inspect=0.0.0.0:9229", "index.js"]
      networks:
          - nesjs-network
      volumes:
          - .:/usr/src/app
          - /usr/src/app/node_modules
      restart: unless-stopped
  prod:
      container_name: trialnerror_api_prod
      image: trialnerror-server-prod:1.0.0
      build:
          context: .
          target: production
          dockerfile: ./Dockerfile
      command: npm run start:prod
      ports:
          - 3000:3000
          - 9229:9229
      networks:
          - nesjs-network
      volumes:
          - .:/usr/src/app
          - /usr/src/app/node_modules
      restart: unless-stopped

networks:
  nesjs-network:
