<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&display=swap" rel="stylesheet">
  <style type="text/css" media="screen, print">
    h1 {
      font-family: 'Fugaz One';
      display: block;
      font-size: 26pt;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
      margin-left: 0;
      margin-right: 0;
      color: #e88e27;
    }

    h3 {
      font-family: 'Nunito', sans-serif;
      display: block;
      font-size: 26pt;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
      text-decoration: underline;
      color: #e88e27;
    }


    p {
      font-family: 'Nunito', sans-serif;
      display: block;
      font-size: 12pt;
      margin-top: 1.33em;
      margin-bottom: 1.33em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }


    .highlight {
      background-color: yellow;
    }
  </style>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
</head>

<body>
  <h1>TrailNError!</h1>
  <p>Hello User</br>This is your OTP:</p>
  <h3><span class="highlight">{{otp}}</span></h3>
  <p>Thanks!</p>
</body>

</html>